@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: black;
    flex-direction: column;
}
h1{
    color: #fff;
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    border-bottom: 1px solid #fff;
}
.wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}

.carousel .card {
    color: #fff;
    text-align: center;
    margin: 20px 0;
    height: 180px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    border:2px solid gray 
}

.carousel .card-1 {
    background: url(images/clear.gif) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card-2 {
    background: url(images/clouds.gif) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card-3 {
    background: url(images/fog.gif) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card-4 {
    background: url(images/rain.gif) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card-5 {
    background: url(images/snow.gif) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .card-6 {
    background: url(images/thunderstorm.gif) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

