@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: black;
    flex-direction: column;
}
h1{
    color: #fff;
}
.wrapper {
    width: 100%;
}

.carousel {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}

.carousel .card {
    color: #fff;
    text-align: center;
    margin: 20px 0;
    line-height: 150px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); */
    border:2px solid gray 
}

.carousel .card-1 {
    background: url(images/clear.gif);
}

.carousel .card-2 {
    background: url(images/clouds.gif);
}

.carousel .card-3 {
    background: url(images/fog.gif);
}

.carousel .card-4 {
    background: url(images/rain.gif);
}

.carousel .card-5 {
    background: url(images/snow.gif);
}
.carousel .card-6 {
    background: url(images/thunderstorm.gif);
}

